<!DOCTYPE html>
{% load blog_tags %}
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title_block%}{%endblock%}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">
  </head>
  <body>


    <div class="content">
      {% block content_block %}
      {%endblock%}

    </div>
    <div class="sidebar">
      <h2><strong><em>MANAS'S Blog</em></strong></h2>
    <p>Be ready to get current updations...</p>
    <p>Number of posts Published:<span id='publish'>{%total_posts%}</span></p>
    <h3>Latest Post:</h3>{% show_latest_posts %}
    <h3>Most Commented Posts:</h3>
    {% get_most_commented_post as most_commented_post%}
    <ul>
      {% for post in most_commented_post%}
      <li > <a style="color:white;" href="{{post.get_absolute_url}}">{{post.title}}</a></li>
      {% endfor%}

    </ul>
    </div>

  </body>
</html>
